<div id="body-overlay" style="display: none;" >
	<div style="display: none;" class="please-wait-container">
		<p>Please wait</p>
	</div>
	<div style="display: none;"  id="dialog-confirm-delete" title="Delete">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><f:translate key="reallydelete" default="Do you really want to delete?" /></p>
	</div>
	<div style="display: none;"  id="dialog-confirm" title="--title--">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span class="message"></span></p>
	</div>
</div>
